<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Medicare Web Application</display-name>

  <!-- Servlet definition -->
  <servlet>
    <servlet-name>patientServlet</servlet-name>
    <servlet-class>com.medicare.web.patient.PatientServlet</servlet-class>
  </servlet>

  <!-- Mapping the servlet to the /medi-care/patient path -->
  <servlet-mapping>
    <servlet-name>patientServlet</servlet-name>
    <url-pattern>/medi-care/index/new</url-pattern> <!-- Mapping changed to /medi-care/patient -->
  </servlet-mapping>
</web-app>
